<button class="btn btn-primary" (click)="goback()">back</button>
<h1>High Priority Tasks</h1>
<mat-card
  class="example-card"
  *ngFor="let Obj of tasks"
  class="task bg-danger text-light"
>
  <div *ngIf="Obj.priority.prName == 'high'">
    <mat-card-header>
      <mat-card-subtitle>{{ Obj.dueDate }}</mat-card-subtitle>
      <mat-card-title>{{ Obj.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ Obj.desc }}</p>
      <!-- <p class="pr">
            {{ Obj.priority.prName }}
          </p> -->
      <hr />
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </div>
</mat-card>
